version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: inovasaude-db

    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile

    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
